<div>
    <h1>Recuperar Contraseña</h1>
    <form id="newPassword">
        <label>Email</label>
        <input name="email" value="{{user.email}}">
        <br/>
        <label>Contraseña</label>
        <input name="password" type="password">
        <br/>
        <input type="submit">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/password.js"></script>