<div>
    <h1>Recuperar Contraseña</h1>
    <p>¿ Cual es tu email ?</p>

    <form id="recoverPass">
        <label>Email</label>
        <input name="email">
        <br/>
        <input type="submit">
    </form>
</div>
<script src="/js/whatEmail.js"></script>